<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="MSDSSessionFactory">        
		<!-- Hibernate's transaction factory -->
        <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <!-- Bind the getCurrentSession() method to the thread. -->
        <property name="current_session_context_class">thread</property>
	
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">300</property> <!-- seconds -->
		<property name="hibernate.c3p0.max_size">100</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.timeout">100</property>
		<property name="hibernate.c3p0.preferredTestQuery">SELECT 1</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost/helpdesk</property>
		<property name="hibernate.connection.username">dphillips</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.search.default.directory_provider">org.hibernate.search.store.FSDirectoryProvider</property>
		<property name="hibernate.search.default.indexBase">/var/lucene/indexes</property>
		<property name="hibernate.show_sql">true</property>
		<mapping class="com.blogspot.devenphillips.helpdesk.data.User" />
		<mapping class="com.blogspot.devenphillips.helpdesk.data.Request" />
		<mapping class="com.blogspot.devenphillips.helpdesk.data.RequestNote" />
		<mapping class="com.blogspot.devenphillips.helpdesk.data.Ticket" />
		<mapping class="com.blogspot.devenphillips.helpdesk.data.TicketNote" />
		<mapping class="com.blogspot.devenphillips.helpdesk.data.Device" />
		<mapping class="com.blogspot.devenphillips.helpdesk.data.Software" />
		<mapping class="com.blogspot.devenphillips.helpdesk.data.Solution" />
	</session-factory>
</hibernate-configuration>