<?xml version="1.0" encoding="UTF-8"?>
<web-app id="HelpDesk" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>HelpDesk</display-name>
	<!-- /// -->
	<!-- DSP -->
	<servlet>
		<description><![CDATA[The servlet loads the DSP pages.]]></description>
		<servlet-name>dspLoader</servlet-name>
		<servlet-class>org.zkoss.web.servlet.dsp.InterpreterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Boostrap Servlet to load the initial configurations</description>
		<servlet-name>appbootstrap</servlet-name>
		<servlet-class>com.blogspot.devenphillips.helpdesk.config.Bootstrap</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dspLoader</servlet-name>
		<url-pattern>*.dsp</url-pattern>
	</servlet-mapping>
	<!-- /// -->

	<!-- //// -->
	<!-- ZK -->
	<listener>
		<description>Used to cleanup when a session is destroyed</description>
		<display-name>ZK Session Cleaner</display-name>
		<listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
	</listener>
	<servlet>
		<description>ZK loader for ZUML pages</description>
		<servlet-name>zkLoader</servlet-name>
		<servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
		<!-- Must. Specifies URI of the update engine (DHtmlUpdateServlet).
		It must be the same as <url-pattern> for the update engine.
		-->
		<init-param>
			<param-name>update-uri</param-name>
			<param-value>/zkau1</param-value>
		</init-param>
		<!-- [Optional] Used to initial a thread before processing an event
			It must implement org.zkoss.zk.ui.event.EventThreadInit
		<init-param>
			<param-name>thread-init-class</param-name>
			<param-value></param-value>
		</init-param>
		-->

		<!-- [Optional] Specify the maximal allowed number of desktops
			per session.
			Default: 5
		<init-param>
			<param-name>max-desktops-per-session</param-name>
			<param-value>5</param-value>
		</init-param>
		-->
		<!-- [Optional] Specify the URI of the theme.
	If the specified URI is not ended with ".css", the engine will
	append "ie" for Internet Explorer, "moz" for other browsers,
	and "_xx_YY" for Locale, say "xx_YY".
	For example, if "/ab/de" is specified and user uses IE with preferred
	locale is zh_TW, then it searches "normie_zh_TW.css", "normie_zh.css"
	and then "normie.css".
			Default: ~./zul/css/norm
		<init-param>
			<param-name>theme-uri</param-name>
			<param-value>~./zul/css/norm</param-value>
		</init-param>
		-->
		<!-- [Optional] Specify the maximal allowed number of
		event handling threads.
			Default: 20
		<init-param>
			<param-name>max-event-threads</param-name>
			<param-value>20</param-value>
		</init-param>
		-->
		<!-- [Optional] Specify a list of URI of language addons.
		<init-param>
			<param-name>language-addon-uri</param-name>
			<param-value>/WEB-INF/lang-addon.xml</param-value>
		</init-param>
		-->
		<!-- [Optional] Specify a monitor for listening ZK statuses
		-->
		<init-param>
			<param-name>monitor-class</param-name>
			<param-value>org.zkoss.zk.ui.util.Statistic</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zul</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zhtml</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>The asynchronous update engine for ZK</description>
		<servlet-name>auEngine</servlet-name>
		<servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>auEngine</servlet-name>
		<url-pattern>/zkau1/*</url-pattern>
	</servlet-mapping>
	<!-- //// -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>index.zul</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/postfix</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<!-- MIME mapping -->
	<mime-mapping>
		<extension>doc</extension>
		<mime-type>application/vnd.ms-word</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>dsp</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>gif</extension>
		<mime-type>image/gif</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>htm</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jnlp</extension>
		<mime-type>application/x-java-jnlp-file</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpeg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>jpg</extension>
		<mime-type>image/jpeg</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>application/x-javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>pdf</extension>
		<mime-type>application/pdf</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>png</extension>
		<mime-type>image/png</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/vnd.ms-excel</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xml</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xul</extension>
		<mime-type>application/vnd.mozilla.xul-xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zhtml</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zip</extension>
		<mime-type>application/x-zip</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>zul</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
</web-app>
